@model WebAcademia.Classes.Mensalidade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mensalidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlunoMensalidade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlunoMensalidade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesReferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesReferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVencimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PagamentoConcluido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PagamentoConcluido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodigoMensalidade }) |
    @Html.ActionLink("Back to List", "Index")
</p>
