@model IEnumerable<WebAcademia.Classes.Aluno>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlunoMensalidade.CodigoMensalidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnderecoAluno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlunoMensalidade.CodigoMensalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoAluno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Matricula }) |
            @Html.ActionLink("Details", "Details", new { id=item.Matricula }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Matricula })
        </td>
    </tr>
}

</table>
